.modules {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 70px;
}

.selfLearningContainer {
  display: flex;
  flex:1;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.selfLearningContainerTitle {
  text-align: center;
  width: 100%;
}

.selfLearningModuleCriteria {
  /* border:1px solid black; */
  display: flex;
  /* flex:1; */
  width:47%;
  margin:0px 10px;
  flex-direction: column;
  margin-top:20px;
}

.selfLearningModuleCriteriaTitle {
  border-bottom: 1px solid #d3d3d3;
  font-size: 16px;
  text-align: center;
  /* cursor: pointer; */
  display: flex;
  flex: 1;
}

.selfLearningModuleCriteriaTitle > p {
  flex:1;
}

.selfLearningModuleCriteriaContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* border:1px solid red; */
  padding:10px 20px;
}

.selfLearningCustomAvatar {
  overflow: hidden;
  position: relative;
}

.selfLearningModuleContainer {
  width: auto; 
  margin-right: 19px; 
  height: 120px; 
  cursor:pointer; 
  height:auto
  /* min-width:230px; */
}

.selfLearningCardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex:1;
  padding:10px 15px 0px 15px !important;
  align-items: center;
}

.selfLearningModuleTitle {
  /* margin-left: 10px; */
  font-size: 18px !important;
  width:100% !important;
  min-width: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.selfLearningModuleImage {
  
}

@media only screen and (max-width: 784px) {
  .selfLearningModuleCriteria {
    width:100%
  }
}
