.displayPicture {
    width:65px;
    height:65px;
    position: absolute;
    text-align: center;
    /* aspect-ratio: auto; */
    border:1px solid lightgrey;
    border-radius:50%;
    background-color: white;
    /* overflow: hidden; */
    /* padding:10px; */
}