.customQuizMainContainer {
    display: flex;
    flex-direction: column;
    /* height:91vh; */
    justify-content: center;
    align-items: center;
    flex:1;
}

.customQuizContainer {
    display:flex;
    width:100%;
    flex:1;
    /* border:1px solid #d3d3d3; */
}

.customImageSetContainer {
    flex:0.15;
    display:flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* align-content:flex-start; */
    height:600px;
    max-height: 600px;
    /* border-right:1px solid grey; */
    border-radius: 20px;
    box-shadow: 5px 0px 8px #d3d3d3;
    margin: 0px 20px 0px 0px;
    /* overflow-y: scroll; */
}

.customImageSetWrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    /* flex:1; */
    overflow-y: scroll;
    padding:0px 0px 10px 10px;
}

.customImageViewContainer {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    flex:0.70;
    width:100%;
    /* border: 1px solid green; */
    padding: 25px;
    background-color: #F5F5F5;
    border-radius: 20px;
    /* box-shadow: 5px 0px 8px #d3d3d3; */
}

.customDisplayContainer {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    padding:18px;
    flex:0.9;
    width:100%;
    height:500px;
    max-height:500px;
    /* border:1px solid #d3d3d3; */
    background-color: white;
    overflow-y: scroll;
}

.customButtonContainer {
    display:flex;
    flex:0.1;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    padding:0px 10px;
    align-content: space-evenly;
    /* border:1px solid brown; */
    /* height:10%; */
}

.customQuizButton {
    margin-left: 20px;
    margin-right:20px;
    font-size: 18px;
    /* height: 35px; */
    font-size: 80%;
    margin-bottom:5px
}

.customImageBlockContainer {
    /* border:1px solid orange; */
    box-shadow: 2px 2px 7px #d3d3d3;
    max-width:200px;
    min-width:200px;
    height:200px;
    margin-bottom:15px;
}

.cancelIcon{
    /* border:1px solid black; */
    /* position: absolute; */
    float: right;
    /* margin-top: 0.5%;
    margin-left:15.7%; */
    margin: 5px;
    z-index: 300;
    width:20px;
    text-align: center;
    background-color: #d3d3d3;
    color:grey;
    border-radius: 20px;
    cursor:pointer;
    /* font-size: 30px; */
    /* width:100%; */
}

.customImageSetContainerTitle {
    opacity: initial;
    text-align: center;
}

.customDisplayContainer::-webkit-scrollbar {
    width: 10px;
}
/* Handle */
.customDisplayContainer::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background: rgba(124, 123, 123, 0.7);
    width: 10px;
}

/* Handle on hover */
.customDisplayContainer::-webkit-scrollbar-thumb:hover {
    background: rgba(180, 179, 179, 0.7);
}

.customImageSetWrapper::-webkit-scrollbar {
    width: 10px;
}
/* Handle */
.customImageSetWrapper::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background: rgba(124, 123, 123, 0.7);
    width: 10px;
}

/* Handle on hover */
.customImageSetWrapper::-webkit-scrollbar-thumb:hover {
    background: rgba(180, 179, 179, 0.7);
}

@media only screen and (max-width:575px){

    .customQuizMainContainer {
        /* height:100vh; */
    }

    .customQuizContainer {
        flex-direction: column;
        flex:1;
        width:100%;
    }

    .customImageSetContainer {
        /* flex-direction: row; */
        display: flex;
        justify-content: flex-start;
        /* flex-wrap: nowrap; */
        /* overflow: scroll; */
        flex:0.30;
        /* align-items: center; */
        border:0;
        border-bottom:1px solid #d3d3d3;
        margin: 0px 0px 20px 0px;
    }

    .customImageSetWrapper {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        
    }

    .customImageViewContainer {
        flex:0.70;
    }

    .customQuizButton {
        height:80%;
    }

    .customImageSetWrapper::-webkit-scrollbar {
        height: 10px;
    }

    .customImageBlockContainer {
        width:100%;
    }

    .customButtonContainer {
        flex-direction: column;
        align-items: center;
    }
}