.customQuizMainContainer {
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customQuizContainer {
    display:flex;
    flex:1;
    height:100%;
    width:100%;
    justify-content: flex-start;
    margin-top: 1%;
    /* background-color: rgb(255,228,225); */
    /* border:1px solid #d3d3d3; */
}

.customImageMenuContainer {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    /* flex:0.30; */
    width:25%;
    align-items: center;
    height: 80vh;
}

.customImageSetContainer {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width:100%;
    /* flex:1; */
    /* max-height:95%;
    height:auto; */
    /* max-height: 90%; */
    /* border:1px solid grey; */
    /* border-radius: 20px; */
    /* box-shadow: 5px 0px 8px #d3d3d3; */
    /* margin: 0px 20px 0px 0px; */
}

.customImageSetWrapper {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    flex:1;
    align-items: center;
    /* flex:1; */
    overflow-y: scroll;
    padding:0px 0px 10px 10px;
    transition: 5s ease-in-out;
}

.customImageViewContainer {
    display:flex;
    flex-direction: column;
    justify-content: stretch;
    flex:1;
    width:100%;
    /* border: 1px solid green; */
    padding: 0 20px;
    /* background-color: #F5F5F5; */
    /* border-radius: 20px; */
    max-height: 80vh;
    /* box-shadow: 5px 0px 8px #d3d3d3; */
}

.customOptionsContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex:0.1;
}

.customOptionsWrapper {
    display: flex;
    flex:0.3;
    justify-content: center;
}

.customDisplayContainer {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    padding:18px;
    flex:0.8;
    width:100%;
    max-height: 82%;
    min-height: 82%;
    /* height:500px; */
    /* max-height:500px; */
    border:1px solid grey;
    border-radius: 25px;
    /* background-color: white; */
    overflow-y: scroll;
}

.customButtonContainer {
    display:flex;
    flex:0.1;
    align-items: center;
    justify-content: flex-end;
    /* padding:10px 10px 10px 0px; */
    /* align-content: space-evenly; */
    /* border:1px solid brown; */
    /* height:10%; */
}

.customButtonWrapper {
    display: flex;
    flex:0.75;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
}

.customQuizButton {
    /* margin-left: 20px;
    margin-right:20px; */
    /* font-size: 18px; */
    /* height: 35px; */
    font-size: 80%;
    text-align: left;
    margin: 0;
    margin-right:6%;
}

.customImageBlockContainer {
    /* border:1px solid orange; */
    box-shadow: 2px 2px 7px #d3d3d3;
    max-width:200px;
    min-width:200px;
    height:200px;
    margin-bottom:15px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.customGeneratedQuizBlock{
    background-color: white;
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* box-shadow: 5px 0px 8px #d3d3d3; */
}

.customTextClass {
    font-size:12px;
}

.cancelIcon{
    /* border:1px solid black; */
    /* position: absolute; */
    /* float: right; */
    /* margin-top: 0.5%;
    margin-left:15.7%; */
    margin: 5px;
    width:20px;
    text-align: center;
    background-color: #d3d3d3;
    color:grey;
    border-radius: 20px;
    cursor:pointer;
    /* font-size: 30px; */
    /* width:100%; */
}

.customImageSetContainerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    cursor: pointer;
    /* color:white; */
    font-weight: 200;
}

.customImageSetContainerTitle > p {
    text-transform: uppercase;
    flex:1;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1em;
    padding:3px 0;
}

.customDropDownIcon {
    position: relative;
    right:8%;
    cursor: pointer;
    width:15px;
    /* z-index: 5; */
}

.customDisplayContainer::-webkit-scrollbar {
    width: 10px;
}
/* Handle */
.customDisplayContainer::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background: rgba(124, 123, 123, 0.7);
    width: 10px;
}

/* Handle on hover */
.customDisplayContainer::-webkit-scrollbar-thumb:hover {
    background: rgba(180, 179, 179, 0.7);
}

.customImageSetWrapper::-webkit-scrollbar {
    width: 10px;
}
/* Handle */
.customImageSetWrapper::-webkit-scrollbar-thumb {
    border-radius: 40px;
    background: rgba(124, 123, 123, 0.7);
    width: 10px;
}

/* Handle on hover */
.customImageSetWrapper::-webkit-scrollbar-thumb:hover {
    background: rgba(180, 179, 179, 0.7);
}

@media only screen and (max-width:575px){

    .customQuizMainContainer {
        /* height:100vh; */
        top:0;
        flex-wrap: nowrap;
    }

    .customImageMenuContainer {
        height:auto;
        width:100%;
        margin-bottom: 2.5%;
    }

    .customImageSetContainerTitle {
        /* max-width: 198px; */
    }

    .customQuizContainer {
        flex-direction: column;
        flex:1;
        width:100%;
    }

    .customOptionsContainer {
        padding-bottom: 5px;
    }

    .customImageSetContainer {
        /* flex-direction: row; */
        display: flex;
        justify-content: flex-start;
        /* flex-wrap: nowrap; */
        /* overflow: scroll; */
        /* flex:0.30; */
        /* align-items: center; */
        border:0;
        border-bottom:1px solid #d3d3d3;
        /* margin: 0px 0px 20px 0px; */
    }

    .customImageSetWrapper {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom:0;
    }

    .customImageViewContainer {
        flex:1;
    }

    .customQuizButton {
        height:80%;
    }

    .customImageSetWrapper::-webkit-scrollbar {
        height: 10px;
    }

    .customImageBlockContainer {
        width:100%;
    }

    .customButtonContainer {
        justify-content: center;
    }

    .customButtonWrapper {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex:1;
        margin:1%;
    }

    .customQuizButton {
        margin-right:0;
        margin-bottom: 2%;
        width:100%;
        text-align: center;
    }
}