.finalizeQuiz {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* align-content: space-evenly; */
  /* margin-top: 70px; */
  align-items: center;
  flex: 1;
  /* height: 100%; */
  margin-top: 70px;
}

.textClass {
  padding-left: 10px;
  margin: 5% 0 0 0;
  font-size: 18px;
  text-align: left;
}

.finalizeQuizModules {
  width: 60%;
  min-width: 280px;
  border: 1px solid #d3d3d3;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 5px 5px 5px #d3d3d3;
  border-radius: 10px;
  padding: 20px 10px;
  margin-bottom: 25px;
  margin-right: 15px;
  background-color: #f0f8ff;
}

@media only screen and (max-width: 823px) {
  .finalizeQuizModules {
    flex-direction: column;
  }
}

.container {
  height: 100%;
}
