.scoresContainer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 3;
  left: 0;
  top: 0;
}

.scoresContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: white;
  padding: 20px;
  box-shadow: 5px 5px 5px 5px #d3d3d3;
  width: 30%;
}

@media only screen and (max-width: 1250px) {
  .scoresContent {
    width: 60%;
  }
}

@media only screen and (max-width: 350px) {
  .scoresContent {
    width: 100%;
  }
}
