/* @media only screen and (max-width: 600px) {
  h2 {
    font-size: 20px;
  }
} */

@media only screen and (max-width:575px){
  .homeButton {
    position: absolute;
    bottom: 25%;
    left:26%;
  }
}