.customTitleContainer {
    margin: 0px;
    height: 80px;
    border-radius: 10px 10px 0px 0px;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding:5px;
}

.footer {
    padding:10px;
    /* border:1px solid black; */
    display: flex;
    flex:1;
    align-items: flex-end;
}

p {
    margin:0;
}

.ClassTitle {
    min-height:18px
}

.displayPictureDefault {
    /* width:30%;
    aspect-ratio: auto; */
    margin-top:44px;
    /* border:1px solid lightgrey;
    border-radius:50%;
    background-color: white; */
    /* overflow: hidden; */
    /* padding:10px; */
}

.displayPictureModified {
    margin-top: 47.5px;
}
