.customContainer {
    height: 250px;
    width: 220px;
    border: 1px solid lightgrey;
    box-shadow: 10px 10px 10px lightgrey;
    border-radius: 10px;
    margin-right:6%;
    margin-bottom:6%;
    display:flex;
    flex-direction:column;
    color:black;
    /* justify-content:space-between */
}

.customTitleContainer {
    margin: 0px;
    height: 80px;
    border-radius: 10px 10px 0px 0px;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding:5px;
}

.footer {
    padding:10px;
    /* border:1px solid black; */
    display: flex;
    flex:1;
    align-items: flex-end;
}

p {
    margin:0;
}

.displayPicture {
    /* width:30%;
    aspect-ratio: auto; */
    margin-top:25px;
    /* border:1px solid lightgrey;
    border-radius:50%;
    background-color: white; */
    /* overflow: hidden; */
    /* padding:10px; */
}

@media only screen and (max-width: 501px) {
    .customContainer {
      margin-right: 3%;
      width:80%;
      /* height:20%; */
    }

    .customTitleContainer {
        /* height:20% */
    }
  }
  